header {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  
  nav {
    width: 100%;
    height: 60px;
    background-color: $main;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 6px 2px #00000040;
    .logoContainer {
      width: 20%;
      margin-left: 30px;
      .logo {
        width: 100%;
      }
    }
    .fa-solid {
      display: none;
    }
    ul {
      display: flex;
      text-decoration: none;
      gap: 10px;
      list-style: none;
      margin-right: 70px;
      li {
        cursor: pointer;
        a {
          text-decoration: none;
          color: $whiteText;
        }
        .btnCategoriasMenu {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 737px) {
  header {
    nav {
      height: 70px;
      justify-content: space-between;
      position: relative;
      .logoContainer {
        width: 50%;
        margin-left: 10px;
        .logo {
          transform: translateY(5px);
        }
      }
      
      .fa-solid {
        display: block;
        margin-right: 40px;
        font-size: 25px;
        color: white;
        z-index: 4;
      }
  
      ul {
        background-color: $main;
        padding-top: 80px;
        padding-left: 20px;
        position: fixed;
        flex-direction: column;
        margin-right: 0;
        width: 150px;
        height: 100vh;
        right: -150px;
        top: 0;
        transition: 0.6s ease;
        z-index: 3;
        
      .contacto {
          margin-top: 20px;
          a {
            font-size: 20px;
            // border: solid 1px red;
          }

        }
        .btnsMenu{
          .btnCategoriasMenu {
            margin-top: 5px;
            display: block;
            background-color: $main;
            border: none;
            border-radius: 5px;
          
            color: $whiteText;
            // border: solid 1px red;
            font-size: 15px;
          }
        }
      }
      
      .animation {
        right: 0;
      }
    }
  }
}
